@import url(reset.css);
@import url(bootstrap.rtl.min.css);
@import url(colors.css);
@import url(font.css);

body{
    font-family: "vazir" !important;
    width: 100%;
    background: linear-gradient(270deg, #92ad93 0%, #A5D6A7 100%);
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #66bb6a;
    border-radius: 6px;
}

.Error__h1-font{
    font-size: 5rem;
}

.Error__span-font{
    font-size: 3rem;
}

.Error__text{
    text-align: center;
    max-width: 25rem;
}

.Error-page-fade-img{
    position: absolute; 
    width: 300px;
    height: 300px;
    z-index: -1;
    filter: blur(50px);
}
.Error-page-fade-img-1{
    left: -3%;
    top: -10%;
}
.Error-page-fade-img-2{
    right: -5%;
    bottom: -7%;
}


@media (min-width: 320px) and (max-width: 991.98px) {
    body{
        overflow-y: visible;
    }
    .Error__image{
        max-width: 332px;
    }
    .Error__text{
        color: white;
    }
    .responsive{
        display: flex !important;
        flex-direction: column-reverse !important;
    }
}