@import url(font.css);

body{
    font-family: "vazir" !important;
    width: 100%;
}

.contact-us__section-backColor{
    /* background: linear-gradient(270deg, #66bb6a 0%, #A5D6A7 100%); */
    background-color: #66bb6a;
}

.contact-us__section-size{
    height: 30rem !important;
}

.contact-us__header-font{
    font-size: 3.8rem;
    z-index: 2;
}
.contact-us__section-position{
    margin-bottom: 6rem;
    z-index: 2;
}
.honeycomb-section-size-1{
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
    z-index: 0;
}
.honeycomb-section-size-2{
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
    right: 0;
    bottom: 0;
    z-index: 0;
}