@import url(font.css);

body{
    font-family: "vazir" !important;
    width: 100%;
}

.customer__sub-textColor{
    color: #21c09e;
}
.customer__images-size{
    width: 5rem;
    height: 5rem;
    background-color: #CCD1D1;
}
.customer__text-width{
    max-width: 45rem;
}

.customer__picture-1-position{
    top: 2%;
    right: 6%;
    background-color: #EC7063;
}
.customer__picture-2-position{
    bottom: 0;
    right: 7%;
    width: 3rem;
    height: 3rem;
    background-color: #73C6B6;
}
.customer__picture-3-position{
    left: 20%;
    bottom: 2%;
    width: 3.3rem;
    height: 3.3rem;
}
.customer__picture-4-position{
    left: 2%;
    top: 20%;
    background-color: #BB8FCE;
}
.customer__picture-5-position{
    left: 25%;
    top: 6%;
    width: 3.3rem;
    height: 3.3rem;
}

@media (max-width : 768px){
    .customer__picture-5-position{
        left: 0;
        top: 20%;
    }
    .customer__picture-4-position ,.customer__picture-3-position{
        display: none;
    }
    .customer__picture-1-position{
        left: 0;
        bottom: -5%;
        top: unset;
        right: unset;
    }
}