@import url(font.css);

body{
    font-family: "vazir" !important;
    width: 100%;
    background: linear-gradient(270deg, #92ad93 0%, #A5D6A7 100%);
}

.Error__h1-font{
    font-size: 5rem;
}

.Error__span-font{
    font-size: 3rem;
}

.Error__text{
    text-align: center;
    max-width: 25rem;
}

.Error-page-fade-img{
    position: absolute; 
    width: 300px;
    height: 300px;
    background-color: #060706aa;
    z-index: -1;
    filter: blur(20px);
}
.Error-page-fade-img-1{
    left: -3%;
    top: -10%;
}
.Error-page-fade-img-2{
    right: -5%;
    bottom: -7%;
}