.bg-primary{
    background-color: #66bb6a !important;
}
.bg-primary-light{
    background-color: #81c784 !important;
}
.text-primary{
    color: #66bb6a !important;
}
.text-color{
    color: #fff !important;
}
.text-muted{
    color: #eeeeee !important;
}
.border-primary{
    border-color: #66bb6a !important;
}
.bg-light{
    background-color: #1F2935 !important;
}
.bg-white{
    background-color: #161D26 !important;
}
.dark .d-none-dark{
    display: none;
}

.z-index-2{
    z-index: 2;
}
.z-index-1{
    z-index: 1;
}

