@import url(font.css);
/* body  */
body{
    font-family: "vazir" !important;
    width: 100%;
}

footer{
    margin-top: 3rem;
}

.right__text{
    font-size: .9375rem !important;
    line-height: 1.4rem !important;
}

.space__between{
    line-height: 2rem !important;
}

div .text__underline{
    font-size: .8125rem !important;
}

.footer__icons-position{
    width: 2.4rem !important;
    height: 2.4rem !important;
}

.footer__icons-color{
    color: #969c97 !important;
}

.footer__icon-size{
    width: 1.3rem !important;
    height: 1.3rem !important;
    color: rgb(155, 185, 144) !important;
}
.button__footer{
    background-color: rgb(102, 187, 70) !important;
    color: white !important;
}

.list-body{
    font-size: .938rem !important;
}

/* footer icons hover color */
.footer__instagram-hover:hover{
    color: #e9810a !important;
}
.footer__telegram-hover:hover{
    color: #61acdf !important;
}
.footer__linkedin-hover:hover{
    color: #0077b5 !important;
}
.footer__twitter-hover:hover{
    color: #61acdf !important;
}
.footer__whatsapp-hover:hover{
    color: #66bb6a !important;
}
/*responsive*/
@media (max-width: 992px) {
    .responsive{  
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items:start !important;
    }
    .responsive__items{
        width: 100% !important;
        height: 100% !important;
        margin-right: 0 !important;
        margin-top: 1.5rem !important; 
        margin-bottom: .5rem !important;
    }
    
}