@import url(font.css);

body{
    font-family: vazir;
}

.four-step-section__svg-wrapper{
    width: 3rem;
    height: 3rem;
}
.four-step-section__svg{
    width: 22px;
    height: 22px;
}
.four-step-section__plus-img{
    width: 20px;
    height: 20px;
}