@import url(font.css);

body{
    font-family: "vazir" !important;
}

.head-section__p-line-height{
    line-height: 2rem;
}

.text__color{
    color: #66bb46;
}
.btn__color{
    background-color: rgb(102, 187, 70) !important;
    color: white !important;
}
.link__color:hover{
    color: #66bb46 !important;
}