@import url(font.css);
body {
    font-family: vazir;
}

.Customer__image-size{
    width: 10rem;
    height: 10rem;
}

@media (min-width: 320px) and (max-width: 992px) {
    .Customer__responsive{
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
    }
    .Customer__responsive-image{
        margin-bottom: 1rem;
        width: 8rem;
        height: 8rem;
    }
    .Customer__responsive-text{
        margin: auto;
    }
}